.container {
    height: 1000px;
    width: 1500px;
    margin: auto;
}

.header {
    height: 100px;
    background-color: #beebe9;
    text-align: center;
    line-height: 100px;
}

.logo {
    height: 50px;
    width: 80px;
    background-color: #8ac6d1;
    margin: 30px;
    position: absolute;
    text-align: center;
    line-height: 50px;
}

.main {
    height: 1000px;
    background-color: #fffdf9;
}

.sider {
    width: 600x;
    height: 700px;
    background-color: #ffe3ed;
    text-align: left;
    line-height: 30px;
}

.footer {
    height: 70px;
    background-color: #8ac6d1;
    text-align: center;
    line-height: 100px;
}